<template>
    <span>{{state}}</span>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

class Cell extends Vue {
  @Prop({ required: true }) state: string = "";
}

export default Cell;
</script>
