<template>
  <main>
    <table class="check">
      <tr v-for="i of [0, 3, 6]" v-bind:key="i">
        <td v-for="j of [0, 1, 2]" v-bind:key="j" @click="move(i+j)">
          <span class="O" v-if="board[i+j] === 'O'">O</span>
          <span class="X" v-if="board[i+j] === 'X'">X</span>
        </td>
      </tr>
    </table>
    <button class="reset-button" @click="reset()">RESET</button>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Players from "../utils/players.enum";
import GameState from "../utils/game-state.enum";
import { hasWon, checkTie, move } from "../utils/game.service";
import Cell from "./Cell.vue";

@Component({
  components: {
    Cell
  }
})
export default class Game extends Vue {
  board: any[] = Array.from(Array(9).keys()); //an array that keeps track of what's in each square: X, O or nothing
  humanPlayer = "X";
  aiPlayer = "O";
  gameEnded: boolean = false;

  reset() {
    this.board = Array.from(Array(9).keys());
    this.gameEnded = false;
  }

  move(i: number): void {
    if (typeof this.board[i] !== "number" || this.gameEnded) {
      return;
    }
    this.turn(i, this.humanPlayer);
    if (!checkTie(this.board)) {
      this.turn(this.bestSpot(), this.aiPlayer);
    } else {
      this.resolveGame("TIE", "");
    }
  }

  private turn(boardIndex: number, player: string) {
    this.board[boardIndex] = player;
    this.$forceUpdate();
    let gameWon = hasWon(this.board, player);
    if (gameWon) {
      this.resolveGame("WIN", player);
    }
  }

  resolveGame(status: string, player: string) {
    if (this.gameEnded) return;
    setTimeout(() => {
      if (status === "TIE") {
        alert("REMIS");
        return;
      } else if (player === this.humanPlayer) {
        alert("WYGRANA");
      } else {
        alert("PRZEGRANA");
      }
    }, 150);
    this.gameEnded = true;
  }

  bestSpot() {
    return move(this.board, this.aiPlayer, this.humanPlayer);
  }
  shouldDisplayValue(val: any): boolean {
    return val === "X" || val === "O";
  }
}
</script>

<style lang="scss" scoped>
.reset-button {
  border: none;
  color: white;
  background-color: red;
  padding: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
table.check {
  border-collapse: collapse;
  min-width: 320px;
  td {
    font-size: 8rem;
    font-weight: bold;
    width: 10rem;
    height: 10rem;
    border: 1rem solid #2c3e50;
    cursor: pointer;
    @media screen and (max-width: 650px) {
      font-size: 4rem;
      width: 5rem;
      height: 5rem;
    }
    .O {
      color: blue;
    }
    .X {
      color: red;
    }
  }
}
</style>
